/*
CSS for International Convention Models site
*/

html{
	/*margin-left: 180px;*/
	/*padding: 1.92307692em; /* 25px; */
	/*margin-top: 0.38461538em;/* 5px;*/
	/*padding-top: 0.38461538em;/* 5px;*/
	background: black;
	background-repeat:repeat-y;
   	background-image:url('../images/background.jpg');
   	background-position: center center;
}


body{
	width: 960px;
	margin: 0 auto;
	/*margin: 10px;*/
	/*padding: 10px;*/
	/*border: 1px dotted orange;*/
    text-align: justify;
    /*background-color: black;*/
	
}

p{	
	font-family: 'Arial', sans-serif;
	color: #ffffff;
	font-size: 1.07692307692308em; /* 14px */
	
}
h3{
	font-family: 'Raleway Dots', Arial, cursive;
	color: Orange;
	border: 1px solid orange;
	border-top-right-radius: 40px;
	border-bottom-right-radius:5px;
	text-align: center;
	text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -ms-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -moz-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -o-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -web-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -khtml-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
	}
	
h1{
	background: #3fa9f5;
	color: orange;
	width: 30%;
	font-family: 'Montserrat', sans-serif;
	padding-top: 2px;
	border: 1px solid orange;
	border-top-right-radius: 40px;
	border-bottom-right-radius:5px;
	text-align: center;
}

h4{
	width: 97%;
	color: #fff;
	margin: 2px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

h5{
	font-family: 'Cinzel Decorative', cursive;
	font-weight: normal;
	color: #ffffff;
}
header{
	/*border: 1px dotted white;*/
	display: block; /* Only for IE8 or less */
	height: 85px;
}


.tagline{
	position: relative;
	color: #fff;
	top: 10px;
	padding: 0.38461538em;/* 5px;*/
	margin: 0.38461538em;/* 5px;*/
	clear: both;
}

.maintag{
	width: 97%;
	padding:5px;
	margin: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius:5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius:5px;
	
	background: #3fa9f5;
	height: 45px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	text-align: justify;
} 
#sitebranding{
	/*background: #000;*/
	margin: 0.38461538em;/* 5px;*/
	padding: 0.38461538em;/* 5px;*/
}


/*-----------Navigation-------------------*/	

nav{
	position:relative;
	top:15px;
	width: auto;
    height: 35px;
    font-size: 1.23076923em; /* 16px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    /*background-color: #3fa9f5;*/
	/*border-radius: 0.61538462em; /* 8px; */
	-ms-border-radius: 0.61538462em; /* 8px; */
	-moz-border-radius: 0.61538462em; /* 8px; */
	-o-border-radius: 0.61538462em; /* 8px; */
	-web-border-radius: 0.61538462em; /* 8px; */
	-khtml-border-radius: 0.61538462em; /* 8px; */
	float: right;

}

nav li { 
	display: inline; 
	padding: 20px; 
}

nav a{
	text-decoration: none;
	color: #3fa9f5;
}
	

nav a:link{ 
	color: orange;
}

nav a:visited{
	color: grey;
}

nav a:hover{
	text-decoration: none;
	color: #3fa9f5;
	margin: 3px 3px 3px 0;
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: #3fa9f5;
	
		
}
nav ul{
	height: auto;
    padding: 8px 0px;
    margin: 0px;
}


#model{
	width: 97%;
	margin: 5px;
	padding: 5px;
	border: 1px solid #3fa9f5;
	background: #3fa9f5;
	
}

#image1{
	padding: 5px;
	margin: 5px;
	border: 1px dotted blue;
	width: 100%;
	height: auto;
}


.eye{
	position: relative;
	right: 10px;
	top: -10px;
	height: 25px;
	width: 31%;
	background: #3fa9f5;
	background-image: linear-gradient(bottom, #BDBEBF 18%, #F0F0F0 65%);
	background-image: -o-linear-gradient(bottom, #BDBEBF 18%, #F0F0F0 65%);
	background-image: -moz-linear-gradient(bottom, #BDBEBF 18%, #F0F0F0 65%);
	background-image: -webkit-linear-gradient(bottom, #BDBEBF 18%, #F0F0F0 65%);
	background-image: -ms-linear-gradient(bottom, #BDBEBF 18%, #F0F0F0 65%);
	padding: 0.30769230769231em;/* 4px;*/
	margin: 0.30769230769231em;/* 4px;*/
	border-radius: 12px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	text-align: center;
	float: right;
}

aside{
	position:relative;	
	display: inline;
	float: right;
	margin: 2px;
	padding: 2px;
	width: 320px;
	height: auto;
	/*background: grey;*/
	color: white;
	clear:both;
}


aside blockquote{
	font-size: 1.2em;
	
	font-style: normal;
	color: #000;
}

.cta2{
	background-color: orange;
	border: 1px solid grey;
	width: 97%;
	/*border-top-left-radius: 40px;
	border-bottom-left-radius:40px;*/
	margin: 2px;
	padding:5px;
	clear: left;
}

.industries{
	
	width:155px;
	height: auto;
	position: relative;
	background: orange;
	opacity: 0.5;
	-ms-opacity: 0.5;
	-webkit-opacity: 0.5;
	-o-opacity: 0.5;
	-khtml-opacity: 0.5;
}

.industries li{
	display: block;
	position: relative;
	left: -45px;
	list-style-type: none;
	background: white;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	width: 125px;
}	

	a:hover{
	text-decoration: none;
	background-color: orange;
	height: 25px;
	
}

/*---------------Sections---------------*/


#bodycontent{
	width: 100%;
	height: 780px;
	/*border: 1px dotted red;*/
	margin-top: 4em;
}

article{
	width: 95%;
	columns:240px 3;
	-webkit-columns:240px 3; /* Safari and Chrome */
	-moz-columns:240px 3; /* Firefox */
	-khtml-columns:240px 3;
	margin: 5px;
	text-align: center;
	
}

.articleeye{
	background: #3fa9f5;
	margin: 0 auto;
	color: white;
	border: 1px solid grey;
	
}


.clients{
	width: 100%;
	height: 450px;
	/*border: 1px dotted red;*/
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 15px;
	
		
}

#brands{
	opacity: .5;
}


/*------------Gallery-------------------*/
.gallery{
	margin-top: 1em;
	padding-top:1em;
	width: 100%;
	height: 720px;
	/*border: 1px dotted red;*/
	margin-bottom: 5px;
	overflow: hidden;
	
	
}

.photogallery{
	display: inline;
	/*border: 1px dashed white;*/
	list-style-type: none;
	width: 97%;
	margin: 5px auto;
	padding: 10px 0 0;
	overflow: hidden;
	clear:both;
}

.photogallery li{
	float: left;
	margin: 3px;
	padding: 3px;
    
}

.industries{
	float:right;
	margin: 20px;
	padding: 25px;	
}

.contact{
	width: 100%;
	height: 450px;
	/*border: 1px dotted red;*/
	margin-top: 40px;
	padding-bottom: 5px;
	
}






/*-- Footer Links---*/




footer{
		border-bottom: 3px solid orange;
		display: block; /* Only for IE8 or less */
		font-size: 0.923em; /*12px*/
		width: 100%;
}		

.validatorlogo{
		position: relative;
		top:-35px;
		
}

footer li { 
	display: inline; 
	padding: 20px;
	float: right; 
}

footer a{
	text-decoration: none;
	color: #3fa9f5;
	font-weight: normal;
	float: right;
}

footer a:link{ 
	color: orange;
}

footer a:visited{
	color: grey;
}

footer a:hover{
	text-decoration: none;
	color: #3fa9f5;
}

footer ul{
	
	top: 25px;
	height: auto;
    padding: 8px 0px;
    margin: 0px;
}


	
	