/*
CSS for International Convention Models site
*/

html{
	background: black;
	background-repeat:repeat-y;
   	background-image:url('../images/background.jpg');
   	background-position: center center;
  
}


body{
	max-width: 960px;
	margin: .5em auto;
	padding: .5em;
    text-align: justify;
    font-size: 100%;
    
}


.wrapper{
	width: 100%; /*960px*/
	margin: 0 auto;
}

p{	
	font-family: 'Arial', sans-serif;
	color: #ffffff;
	font-size: 1.07692307692308em; /* 14px */
	
}
h3{
	font-family: 'Raleway Dots', Arial, cursive;
	font-size: .8125em; /*13px*/
	color: Orange;
	border-top-right-radius: 40px;
	border-bottom-right-radius:0.313em; 
	padding-top: .5em;
	padding-bottom: .2em;
	padding-left: .4em;
	text-align: center;
	text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -ms-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -moz-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -o-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -web-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
    -khtml-text-shadow: 0.23076923em 0.15384615em 0.23076923em #ffffff; /* 3px 2px 3px #333333;*/
	}
	
h1{
	background: #000;
	color: orange;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.250em;/*20px*/
	padding-top: .5em; /*8px*/
	padding-bottom: .2em; /*3px*/
	padding-left: .4em; /*6px*/
	border: 1px solid orange;
	text-align: justify;
}

h2{
	color: white;
	font-size: 0.938em; /*15px*/
}
h4{
	color: #fff;
	margin: 0.125em; /*2px;/16px*/
	border-top-left-radius: 0.313em; /*5px;*/
	border-bottom-left-radius: 0.313em; /*5px;*/
	
}

h5{
	padding-top: .5em; /*8px*/
	padding-bottom: .2em; /*3px*/
	padding-left: .4em; /*6px*/
	font-family: 'Cinzel Decorative', cursive;
	font-weight: normal;
	color: #ffffff;
}
header{
	
	display: block; /* Only for IE8 or less */
	height: 5.313em; /*85px*/
}

.logo{
	float: left;
	max-width: 46.875%; /*450px;*/
}


#sitebranding{

	margin: 0.38461538em;/* 5px;*/
	padding: 0.38461538em;/* 5px;*/
	clear: both;
}

.title{
	width: 240px;
	clear: left;
}

/*-----------Navigation-------------------*/	

nav{
	width: 30.625em; /*490px;*/
    height: 3.125em; /*50px;*/
    font-size: 1.23076923em; /* 16px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
	float: right;
	clear: right;

}

nav li { 
	display: inline; 
	margin: 0 auto;
	padding: 1.250em;/*20px*/
	float: right; 
}

nav a{
	text-decoration: none;
	color: #3fa9f5;
	font-weight: normal;
	float: right;
}
	

nav a:link{ 
	color: orange;
}

nav a:visited{
	color: white;
}

nav a:hover{
	text-decoration: none;
	color: #3fa9f5;
	height: 2.813em; /*45px;*/
	width: 5.938em; /*95px;*/
	
		
}
nav ul{
	height: auto;
    padding: .5em 0;
    margin: 0 auto;
}
/*--------Main CTA---------------*/

#model{
 width: 97%;
 margin: 4em  0 auto;
}

#model img{
 	max-width: 100%;
 	height: auto;
 	margin: .7em auto;
 	
 }
 
 
 
#image1{
	padding: 0.38461538em;/* 5px;*/
	margin: 0.38461538em;/* 5px;*/
	width: 100%;
	height: auto;
}


.eye{
	height: 1.563em; /*25px;*/
	width: 30%;
	margin: .3em .7em;
	color: #ffffff;
	padding: 0.30769230769231em;/* 4px;*/
	margin: 0.30769230769231em;/* 4px;*/
	border-radius: 0.750em; /*12px;*/
	-ms-border-radius: 0.625em; /*10px;*/
	-o-border-radius: 0.625em; /*10px;*/
	-webkit-border-radius: 0.625em; /*10px;*/
	-khtml-border-radius: 0.625em; /*10px;*/
	text-align: center;
	float: right;
	clear: right;
}

.cta2{
	background-color: orange;
	border: 0.313em solid grey; /*1px*/
	width: 62%;
	font-size: 130%;
	margin: 0.125em; /*2px;*/
	padding:0.38461538em;/* 5px;*/
	clear: left;
}

a:hover{
	text-decoration: none;
	background-color: orange;
	height: 65px;
	
}

/*---------------Sections---------------*/


#bodycontent{
	width: 100%;
	height: 48.750em; /*780px;*/
	margin-top:0;
	overflow: scroll;
}

article{
	width: 95%;
	padding: 0;
	columns: 15.000em 3; /*240px 3;*/
	column-gap: 0.875em; /*14px;*/
	-webkit-columns:15.000em 3; /*240px 3; Safari and Chrome */
	-moz-columns:15.000em 3; /*240px 3;  Firefox */
	-khtml-columns:15.000em 3; /*240px 3;*/
	-moz-column-count:0.188em 3; /* 3px Firefox */
	-moz-column-gap:0.875em; /*14px;*/
	-webkit-column-count:0.188em 3; /* Safari and Chrome */
	-webkit-column-gap:0.875em; /*14px; Safari and Chrome */
	margin: 0.38461538em;/* 5px;*/
	text-align: justify;
	
}

.articleeye{
	background: #eeeeee;
	margin: 0 auto;
	padding: .3em;
	color: grey;
	text-transform:uppercase;
	border: 0.063em solid grey; /*1px*/
	
}



.clients{
	float: left;
	width: 100%;
	height: 590px;
	margin-top: 1em;
	padding-top: 1em;
	margin-bottom: 2em;
	padding-bottom: 2em;
	overflow: hidden;		
}

brands{
	opacity: .5;
	padding-top: 5em;
}

#brandbkg{
	width: 95%;
	margin: 2em auto;
	
}

#brandbkg img{
	max-width: 100%
	
}

/*------------Gallery-------------------*/
.gallery{
	margin: 4em auto;
	padding-top:1em;
	margin-bottom: 0.38461538em;/* 5px;*/
	width: 95%;
	height: 24.688em; /*395px;*/
	overflow: scroll;
	
	
}

.photogallery{
	display: inline;
	list-style-type: none;
	width: 100%;
	margin: 0.313em auto; /*5px*/
	padding: 0.38461538em 0.38461538em 0.38461538em; /* 5px;*/
	overflow: hidden;
	clear:both;
}

.photogallery li{
	float: left;
	padding: .1em;

	
    
}

.gallery2{
	margin: 4em auto;
	padding-left: 2em;
	margin-bottom:  0.38461538em;/* 5px;*/
	width: 95%;
	height: 24.688em; /*395px;*/
	overflow: scroll;
	
	
}

.photogallery2{
	display: inline;
	list-style-type: none;
	width: 100%;
	margin: 0.38461538em auto; /*5px*/
	padding: 0.38461538em 0.38461538em 0.38461538em; /* 5px;*/
	overflow: hidden;
	clear:both;
}

.photogallery2 li{
	float: left;
	margin: .6em .6em auto;
	padding: .1em;
  
}
.photogallery ul{
	margin: .5em auto;
}

.contact{
	width: 100%;
	height: 28.125em; /*450px;*/
	/*border: 1px dotted red;*/
	margin-top: 2.500em; /*40px;*/
	padding-bottom: 0.38461538em; /*5px*/
	
}






/*-- Footer Links---*/


.rights{
	border: 0.063em dotted white; /*1px*/
	margin: .5em auto;
	padding: 0;
	clear: both;
}

footer{
		
		display: block; /* Only for IE8 or less */
		font-size: 0.923em; /*12px*/
		width: 100%;
		float:left
}		


footer li { 
	display: inline; 
	margin: 0 auto;
	padding: 1.250em; /*20px;*/
	float: right; 
}

footer a{
	text-decoration: none;
	color: #3fa9f5;
	font-weight: normal;
	float: right;
}

footer a:link{ 
	color: orange;
}

footer a:visited{
	color: white;
}

footer a:hover{
	text-decoration: none;
	color: #3fa9f5;
	height: 2.813em; /*45px;*/
}

footer p{
	float: left;
}

footer ul{
	padding-top: 1.563em; /*25px;*/
	height: auto;
    padding: .5em 0; /*8px 0px;*/
    margin: 0px;
}


/* =Media Queries
======================================================================================*/

	/*Tablet Portrait size to standard 960 (devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 959px) {
		
		html{ background-image: none;}
		background-image{ display: none;}
	 
	
	}
	
	
	/*Mobile Landscape size to Tablet Portrait (devices and browsers)*/
	@media screen and (min-width: 480px) and (max-width: 767px) {
	
	 html{ background-image: none;}
	.logo{ float:left; min-width: 100%}
	nav{ clear: both; min-width: 100%;}
	.cta2{ display: none;}
	.gallery li{ clear:both;  max-width: 150%;}
	h2{display: none;}
	.eye{ clear: both; min-width: 100%;}
	h1{ clear: both; min-width: 100%;}
	
	}
	
	
	/*Mobile Portrait size to Mobile Landscape (devices and browsers)*/
	@media screen and (max-width: 479px) {
	
	html{ background-image: none;}
	nav{ display: none;}
	.cta2{ display: none;}
	.eye{ clear: both; min-width: 100%;}
	.rights{ float: left; max-width: 60%;}
	
	}



	
	